extends layout

block content
	#device_container.public-background
		.public-background-bar
			.public-button-background
				a.hvr-radial-out4(style='background: url(/images/battery2.gif) no-repeat center; cursor:pointer;')
			.public-button-background(style='margin-left: 120px')
				a.hvr-radial-out5(style='background: url(/images/temperature2.gif) no-repeat center; cursor:pointer;')
			.public-button-background(style='margin-left: 120px')
				a.hvr-radial-out6(style='background: url(/images/wetness2.gif) no-repeat center; cursor:pointer;')