extends layout

block content
	#safety_container.public-background
		.public-background-bar
			.public-button-background
				.hvr-radial-out1(style='background: url(/images/gas2.gif) no-repeat center; cursor:pointer;')
			.public-button-background(style='margin-left: 120px')
				.hvr-radial-out2(style='background: url(/images/co2.gif) no-repeat center;cursor:pointer;')
			.public-button-background(style='margin-left: 120px')
				.hvr-radial-out3(style='background: url(/images/fire2.gif) no-repeat center;cursor:pointer;')	.